@import url("slideshow_noanim.css");

/*
    Adds a nice rotation effect to get around CSS-jQuery animation timing synchronization issues.
*/

.slideshow-container {
    --slideshow-transition-delay: 2000ms;
    overflow: hidden;
}

.slideshow img {
    z-index: 4999;
}

.slideshow img.curr {
    z-index: 5001;
}

.slideshow-indicator {
    --slideshow-indicator-transition-delay: var(--slideshow-transition-delay);
}